.container {
  background-color: rgb(202, 219, 219);
  border-radius: 15px;
  padding: 13px;
  margin: 15px 0px;
}

.userAndRateContainer {
  display: flex;
  justify-content: space-between;
  cursor: default;
}

.username {
  color: rgb(107, 71, 58);
  margin-left: 15px;
}

.comment {
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
}

.bottomContainer {
  display: flex;
  gap: 50px;
  align-items: center;
  flex-wrap: nowrap;
}

.buttonsCtn {
  display: flex;
  gap: 30px;
}

.rating {
  color: blue;
}

.replyContainer {
  margin-left: 64px;
  width: 80%;
}

.replyBigContainer {
  margin-left: 64px;
  margin-top: 15px;
  background-color: rgb(147, 173, 173);
  border-radius: 5px;
  padding: 15px;
}

.textArea {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgb(217, 225, 233);
  border: none;
  font-size: 18px;
}

.showRepliesButton,
.closeRepliesButton {
  margin-left: 15px;
  margin-top: 10px;
}

.cancelBtn {
  margin-left: 10px;
}

@media (max-width: 670px) {
  .bottomContainer {
    flex-direction: column;
    gap: 0;
    align-items: start;
  }
  .replyContainer {
    margin-left: 15px;
  }
  .replyBigContainer {
    margin-left: 0;
    padding: 10px;
  }
}

@media (max-width: 375px) {
  .comment {
    margin-left: 0;
  }
  .closeRepliesButton,
  .showRepliesButton {
    margin-left: 0;
  }
  .replyContainer {
    margin-left: 15px;
    min-width: 181px;
  }
  .username {margin-left: 0;}
}
