.formControl {
  margin-top: 10px;
  height: fit-content;
}

.inputGroup {
  display: flex;
  height: fit-content;
  min-width: 200px;
  margin: auto;
}

.search {
  height: fit-content;
  margin-top: auto;
}

.searchContainer {
  max-width: 710px;
  margin: 65px auto;
  width: 90%;
  margin-bottom: 0;
}

.filterModal {
  width: 70%;
  margin: 40px auto 0;
  display: block;
  padding: 10px 15px;
  position: initial;
  background-color: rgb(73, 71, 71);
  border-radius: 10px;
  color: rgb(221, 225, 228);
}

.dropDowns {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.dropdownButton {
  margin-bottom: 20px;
}

.submitBtn {
  width: 100%;
}

.titleAndXButton {
  display: grid;
  grid-template-columns: 15fr 1fr;
  column-gap: 20px;
  justify-content: end;
}

.title {
  justify-self: center;
}

@media (max-width: 603px) {
  .inputGroup {
    width: 85%;
  }

  .filterModal {
    width: 93%;
  }

  .dropDowns {
    /* flex-direction: column;
    align-items: start; */
    flex-wrap: wrap;
  }
}
