@import "../../scss/variables";
@import "../../scss/mixins";

.modalCustom {
  @include containerStyles();
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hideMessage,
.showMessage {
  display: none;
  text-align: center;
}
.showMessage {
  display: block;
}

.changePasswordModal {
  display: block;
  position: initial;
  background-color: $darkColor;
  border-radius: 10px;
  color: $brightColor;
}

.titleAndXButton {
  display: grid;
  grid-template-columns: 15fr 1fr;
  column-gap: 20px;
  justify-content: end;
}

.title {
  justify-self: center;
}

.username {
  min-width: 155px;
  padding-top: 5px;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  cursor: default;
}

.submitBtn {
  width: 100%;
  margin-top: 20px !important;
}

.usernameAndInputsCtn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 375px) {
  .modalTitle {
    font-size: 19px !important;
  }
}
