.rateContainer {
    display: flex;
    gap: 20px;
    width: 16em;
    margin-bottom: 10px;
    margin-top: 12px;
  }

  .rateInput {
    min-width: 170px;
  }

  .post {
    min-width: 170px;
  }

  .comment {
    min-width: 202px;
  }

  @media (max-width: 570px) {
    .rateContainer {
      height: 30px;
    }
    
    .rateContainer :last-child {
      display: flex;
      align-items: center;
    }
  }